.btn {
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  padding: 0 12px;
  height: 30px;
  background-color: var(--grey);
  border: 1px solid var(--grey);
  border-radius: var(--border-radius);
  color: #272c34;
}

.btn:hover {
  box-shadow: 0 2px 2px rgb(39 44 52 / 12%);
}
