.header {
  display: flex;
  justify-content: space-between;
}

.btn {
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  padding: 0 12px;
  line-height: 20px;
  height: 30px;
  max-height: 30px;
  background-color: var(--grey);
  font-weight: 700;
  border: 2px solid var(--grey);
  border-radius: 0;
  color: #272c34;
  transition-timing-function: ease-in-out;
  transition-property: box-shadow;
  transition-duration: 150ms;
}
