.modal__trigger {
  height: min-content;

  background-color: transparent;

  padding: 0.1rem 0.5rem;
  border-radius: 0.375rem;
  border-color: transparent;

  color: white;
  background-color: black;
  cursor: pointer;
}

.modal__overlay {
  background-color: rgba(0, 0, 0, 0.505);
  position: fixed;
  inset: 0;
}

.modal__content {
  gap: 12px;
  display: flex;
  flex-direction: column;

  border-radius: 4px;
  border: 2px solid black;
  padding: 12px;

  max-width: 35%;
  min-width: 300px;

  margin: 0 auto;
  background-color: white;

  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.modal__header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal__close {
  border-color: transparent;
  background-color: transparent;
  cursor: pointer;
  background-image: 'public/closeIcon.svg';
}
