.modal__trigger {
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  padding: 0 12px;
  line-height: 20px;
  height: 30px;
  max-height: 30px;
  background: #fff;
  font-weight: 700;
  border: 2px solid #cce3cc;
  border-radius: 0;
  color: #272c34;
  transition-timing-function: ease-in-out;
  transition-property: box-shadow;
  transition-duration: 150ms;
}

.modal__trigger:hover {
  box-shadow: 0 2px 2px rgb(39 44 52 / 12%);
}

.modal__overlay {
  background-color: rgba(0, 0, 0, 0.505);
  position: fixed;
  inset: 0;
}

.modal__content {
  gap: 1rem;
  display: flex;
  flex-direction: column;

  border-radius: 8px;
  padding: 0.75rem;

  min-width: 18.75rem;
  max-width: 25%;

  background-color: white;

  position: relative;
  top: 20%;
  margin: 0 auto;
}

.modal__header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal__close {
  border-color: transparent;
  background-color: transparent;
  cursor: pointer;
  background-image: 'public/closeIcon.svg';
}

.modal__submit {
  background: transparent;
  border-color: transparent;
}

.modal__submit > * {
  width: 100%;
}
