.card__container {
  grid-column: span 12;

  display: flex;
  align-items: center;
  flex-direction: column;

  padding: 12px;
  border-radius: 8px;
  border: 1px solid #000000;
}

.card__btn {
  color: #ffffff;
  background-color: #000000;

  padding: 8px 24px;
  border-radius: 16px;
  border-color: transparent;

  cursor: pointer;
}

.card__data {
  display: flex;
  flex-direction: column;
  gap: 12px;

  width: 100%;
}

@media only screen and (min-width: 1024px) {
  .card__container {
    grid-column: span 6;
  }
}
