.exercises__wrapper {
  padding: 1rem;
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0.5rem;
  border-radius: 6px;
  cursor: pointer;
}

.item:hover {
  background-color: #cce3cc;
}

.removeItem {
  height: 18px;
  color: transparent;
}

.item:hover > .removeItem {
  color: darkred;
}

.header {
  display: flex;
  justify-content: space-between;
}

.btn {
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  padding: 0 12px;
  line-height: 20px;
  height: 30px;
  max-height: 30px;
  background: #fff;
  font-weight: 700;
  border: 2px solid #cce3cc;
  border-radius: 0;
  color: #272c34;
  transition-timing-function: ease-in-out;
  transition-property: box-shadow;
  transition-duration: 150ms;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
