@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;

  margin: 0;
  padding: 0;

  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root {
  --grey: #d6d6d6;
  --dark-grey: #5d5e5d;

  --border-radius: 4px;
}
